.movielist {
  font-family: Roboto;
  background-color: whitesmoke;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;

}
label, input {
  display: block;
}


img{
  object-fit: cover;
}

 

.container {
  max-width: 15rem;
  /*   background: orange; */
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.1);
  background-color: white;
}

 

.flag {
  width: 100%;
  height: 12rem;
}

 

.info {
  padding: 1rem;
}

 

.info span {
  font-weight: bold;
}
.add-new-movie{

  background: rgb(234, 233, 231);
  width: 500px;
  height: 400px;
  padding: 30px;
  
 
}