<div class="movie-container">
  <img class="movie-poster" [src]="movie.poster" [alt]="movie.name" />
  <div class="movie-spec">
    <h2>{{ movie.name }}</h2>
    <p>⭐ {{ movie.rating }}</p>
  </div>
  <button (click)="toggle()">Toggle Button</button>
  <button mat-icon-button color="primary" (click)="toggle()">
    <mat-icon *ngIf="show">expand_less</mat-icon>
    <mat-icon *ngIf="!show">expand_more</mat-icon>
  </button>
  <button (click)="details(movie.id)">Details</button>
  <button (click)="edit(movie.id)">Edit</button>
  <p *ngIf="show" class="movie-summary">{{ movie.summary }}</p>
  <div class="">
    <app-counter></app-counter>
  </div>
  <button (click)="delMovie(movie.id)">Delete</button>
  <a href="{{ movie.trailer }}">Trailer</a>
</div>
