<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular</title>
  </head>
  <body>
    <!-- <h1>Sanjay</h1> -->
    <!-- {{ name.toUpperCase() }} -->
    <!-- <app-comp1
      name="Sanjay Prakash"
      img="https://th.bing.com/th/id/OIP.hmd2EZxOecqRcQ5AMCFarAHaFj?w=240&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
    ></app-comp1>
    <app-comp1
      name=" Prakash"
      img="https://th.bing.com/th/id/OIP.2ipyciZc3yjfiBePI2p0QAHaF6?w=216&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
    ></app-comp1>
    <app-comp1
      name=" Sadham"
      img="https://th.bing.com/th/id/OIP.P7WWssTEPcMigh2-PXExkAHaEo?w=277&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
    ></app-comp1> -->

    <!-- <div *ngFor="let i of items">
      <app-comp1 name="{{ i.name }}" img="{{ i.url }}"></app-comp1>
    </div> -->

    <!-- <ng-container *ngFor="let i of items">
      <app-comp1 name="{{ i.name }}" img="{{ i.url }}"></app-comp1>
    </ng-container> -->
    <!-- 
    <template *ngFor="let i of items">
      <app-comp1 name="{{ i.name }}" img="{{ i.url }}"></app-comp1>
    </template> -->

    <!-- <app-counter></app-counter> -->
    <!-- <app-movielist></app-movielist> -->
    <!-- <app-color></app-color> -->
    <!-- <app-todolist></app-todolist> -->
    <!-- <app-forms-example></app-forms-example> -->

    <router-outlet></router-outlet>
  </body>
</html>
